<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.kail.demo.mybatis.spring.boot.mapper.ServerCostMapper">
    <resultMap id="BaseResultMap" type="xyz.kail.demo.mybatis.spring.boot.model.ServerCostVO">
        <!--@Table server_cost-->
        <id column="cost_name" jdbcType="VARCHAR" property="costName"/>
        <result column="cost_value" jdbcType="FLOAT" property="costValue"/>
        <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate"/>
        <result column="comment" jdbcType="VARCHAR" property="comment"/>
    </resultMap>

    <sql id="Base_Column_List">
        cost_name,
        cost_value,
        last_update,
        `comment`
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from server_cost
        where cost_name = #{costName,jdbcType=VARCHAR}
    </select>

    <select id="selectNullFieldRow" parameterType="java.lang.String" resultMap="BaseResultMap">
        select cost_value, comment
        from server_cost
    </select>

    <select id="selectNullFieldOne" resultMap="BaseResultMap">
        select cost_value, comment
        from server_cost
        limit 1
    </select>

    <select id="selectNullFieldSingle" resultType="java.lang.String">
        select comment
        from server_cost
        limit 1
    </select>
</mapper>